.basic {
    padding: 64px 130px;
    img {
        vertical-align: top;
        display: inline-block;
        width: 372px;
        height: 340px;
    }
    div.form {
        vertical-align: top;
        display: inline-block;
        margin-left: 64px;
        width: calc(100% - 436px);
        margin-top: -10px;
    }
    h3 {
        font-family: Almarai;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 54px;
        text-transform: uppercase;
        color: #212121;
        margin: 0;
    }
    .inputBox {
        position: relative;
        background: #FAFAFA;
        border: 1px solid #D5D5D5;
        box-sizing: border-box;
        border-radius: 4px;
        height: 84px;
        padding: 0;
        margin-top: 32px;
        &:nth-child(3),
        &:nth-child(4) {
            width: calc(50% - 16px);
            display: inline-block;
        }
        &:nth-child(4) {
            margin-left: 32px;
        }
        input:focus~.floating-label,
        input.notEmpty~.floating-label {
            opacity: 1;
            font-family: Almarai;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            text-transform: capitalize;
            color: #757575;
            left: 4.03%;
            top: 17.98%;
            bottom: 61.8%;
        }
        .inputText {
            font-size: 14px;
            width: 100%;
            height: 35px;
            border: none;
            background-color: transparent;
            outline: none;
            padding-top: 43px;
            padding-left: 4.03%;
            font-family: Almarai;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 27px;
            box-sizing: border-box;
            height: 100%;
            &:not(:focus):invalid {
                background: #fff;
            }
        }
        .floating-label {
            position: absolute;
            pointer-events: none;
            transition: 0.2s ease all;
            font-family: Almarai;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 27px;
            text-transform: capitalize;
            color: #757575;
            left: 4.03%;
            top: 34.83%;
            bottom: 34.83%;
            box-sizing: border-box;
        }
    }
}

.config {
    padding: 64px 0;
    margin: 0 130px;
    border-top: 1px solid #D5D5D5;
    h3 {
        height: 40px;
        font-family: Almarai;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        color: #212121;
        margin-bottom: 32px;
    }
    ul {
        list-style: none;
        input {
            display: none;
        }
        .checkboxItem {
            margin-right: 32px;
            img {
                margin-right: 16px;
                cursor: pointer;
            }
            div {
                padding: 32px;
                width: 1124px;
                background: #FAFAFA;
                border: 1px solid #D5D5D5;
                width: calc(100% - 106px);
                display: inline-block;
                cursor: pointer;
                >b {
                    font-family: Almarai;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 22px;
                    color: #212121;
                }
                >p {
                    font-family: Almarai;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;
                    margin-top: 8px;
                    color: #212121;
                }
            }
            &:nth-child(2)>div {
                margin-left: 40px;
            }
        }
    }
    .buttonItem {
        padding-top: 32px;
        img {
            vertical-align: middle;
        }
        span {
            font-family: Almarai;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            margin: 0 10px;
            text-transform: capitalize;
            vertical-align: middle;
        }
        button {
            height: 50px;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
        }
        button:first-child {
            width: 220px;
            background: #FC732F;
            border: 1px solid #FC732F;
            margin-left: 40px;
            margin-right: 16px;
            span {
                color: #FFFFFF;
            }
        }
        button:last-child {
            width: 105px;
            left: 438px;
            border: 2px solid #FC732F;
            background: #fff;
            span {
                color: #FC732F;
            }
        }
    }
}

//iphone
@media (max-width: 599px) {
    .basic {
        padding: 64px 32px;
        img {
            width: 350px;
            height: 350px;
            display: block;
            margin-left: calc(50% - 175px);
        }
        .form {
            width: 100% !important;
            display: block !important;
            padding: 0;
            margin-left: 0 !important;
            h3 {
                margin-top: 64px;
            }
        }
    }
    .config {
        margin: 0 32px;

        button{
            margin: 0 0 32px 0 !important;
            width: 100% !important;
        }
    }
}

//ipad mini
@media (min-width: 600px) and (max-width:768px) {
    .basic {
        padding: 64px 32px;
        img {
            width: 213px;
            height: 213px;
        }
        .form {
            width: calc(100% - 277px) !important;
            h3 {
                margin-top: 10px;
            }
        }
    }
    .config {
        margin: 0 32px;
    }
}